*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    font: 12px/18px 'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,Verdana,'Microsoft YaHei UI',sans-serif;
    background-color: #f5f5f5;
    color: #444;
    -webkit-font-smoothing: subpixel-antialiased;
}

/******** hack purecss ********/
.pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=email]
, .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month]
, .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local]
, .pure-form input[type=week], .pure-form input[type=number], .pure-form input[type=search]
, .pure-form input[type=tel], .pure-form input[type=color], .pure-form select, .pure-form textarea
{
    box-shadow: none;
    border-radius: 0;
}

.pure-button
{
    border-radius: 0;
}

.pure-button:hover, .pure-button:focus {
    border: #c7c7c7;
    background: #d4d4d4;
}

.pure-button:active {
    box-shadow: none;
    background: #c2c2c2;
}

.pure-g
{
    letter-spacing: normal;
}

.pure-g [class *="pure-u"]
{
    padding: 8px;
}

.pure-menu-horizontal>ul.pure-menu-list>li
{
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}


.pure-u-centered {
    margin: 0 auto;
}

.pure-form {
    width: 100%;
}


label, .pure-form label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
}

/******** table ********/
table
{
    width: 100.1%;  /* Chrome truncate the decimal width of a 100% */
}

th
{
    text-align: center;
}

th, td
{
    white-space: nowrap;
}

td:last-child
{
    width: 100%;
}

.content
{
    padding: 8px 10px;
}

/******** panel ********/
.panel
{
    margin-bottom: 20px;
    border: 1px solid #d1d5d8;
    width: 100%;
    background: #fff;
}

.panel .head
{
    background-color: #e9edf0;
    padding: 5px 0 5px 8px;
    font-weight: 700;
    border-bottom: inherit;
    text-align: center;
}

.panel form
{
    padding: 16px;
}

.panel table
{
    border: 0;
}

ul.pure-menu-list>li
{
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
}

.pull-right
{
    float: right !important;
}

.progress
{
    height: 20px;
    /*margin-bottom: 20px;*/
    overflow: hidden;
    background-color: #f5f5f5;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress>.block
{
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #000;
    padding: 0 16px;
    text-align: center;
    background-color: #337ab7;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    transition: width .6s ease;
}

.alert
{
    margin-bottom: 1em;
    padding: .625em;
    background: #0e90d2;
    color: #fff;
    border: 1px solid #0c7cb5;
    border-radius: 0;
}

.alert.success
{
    background: #5eb95e;
    border-color: #4bad4b;
}

.alert.danger
{
    background: #dd514c;
    border-color: #d83832;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>li:first-child>a, 
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>li>a:focus, 
.pagination>li>a:hover, 
.pagination>li>span:focus, 
.pagination>li>span:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
    pointer-events: none;
}

.pagination>.disabled>a, 
.pagination>.disabled>a:focus, 
.pagination>.disabled>a:hover, 
.pagination>.disabled>span, 
.pagination>.disabled>span:focus, 
.pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.disabled> * {
    pointer-events: none;
}
